<!doctype html>
<html lang="en">
    <head>
		<meta charset="utf-8">
        <meta name="description" content="LegoCMS">
        <#include "../include_page/link.html"/>
        <#include "../include_page/code-link.html"/>
		<script type="text/javascript">
		$(function(){
			var dummy = {
		    	attrs: {
		        	color: ["red", "green", "blue", "purple", "white", "black", "yellow"],
		        	size: ["large", "medium", "small"],
		        	description: null
		        },
		        children: []
		    };
			var tags = {
				"!top": ["top"],
				"!attrs": {
					id: null,
					class: ["A", "B", "C"]
				},
				top: {
					attrs: {
						lang: ["en", "de", "fr", "nl"],
						freeform: null
					},
					children: ["animal", "plant"]
				},
				animal: {
					attrs: {
						name: null,
						isduck: ["yes", "no"]
					},
					children: ["wings", "feet", "body", "head", "tail"]
				},
				plant: {
					attrs: {
						name: null
					},
					children: ["leaves", "stem", "flowers"]
				},
				wings: dummy,
				feet: dummy,
				body: dummy,
				head: dummy,
				tail: dummy,
				leaves: dummy,
				stem: dummy,
				flowers: dummy
			};

			function completeAfter(cm, pred) {
				var cur = cm.getCursor();
				if (!pred || pred()) setTimeout(function() {
					if (!cm.state.completionActive)
						cm.showHint({
							completeSingle: false
						});
				}, 100);
				return CodeMirror.Pass;
			}

			function completeIfAfterLt(cm) {
				return completeAfter(cm, function() {
					var cur = cm.getCursor();
					return cm.getRange(CodeMirror.Pos(cur.line, cur.ch - 1), cur) == "<";
				});
			}

			function completeIfInTag(cm) {
				return completeAfter(cm, function() {
					var tok = cm.getTokenAt(cm.getCursor());
					if (tok.type == "string" && (!/['"]/.test(tok.string.charAt(tok.string.length - 1)) || tok.string.length == 1))
						return false;
					var inner = CodeMirror.innerMode(cm.getMode(), tok.state).state;
					return inner.tagName;
				});
			}
			var editor = CodeMirror.fromTextArea(document.getElementById("content"), {
		        lineNumbers: true,
		        mode: 'htmlmixed',
		        theme: 'eclipse',
		        scrollbarStyle: "simple",
		        indentUnit: 4,
		        indentWithTabs: true,
		        autoCloseTags: true,
		        autoCloseBrackets: true,
		        styleActiveLine: {nonEmpty: true},
		        lineWrapping: true,
		        extraKeys: {
		            "'<'": completeAfter,
		            "'/'": completeIfAfterLt,
		            "' '": completeIfInTag,
		            "'='": completeIfInTag,
		            "Ctrl-Space": "autocomplete",
		            "F11": function(cm) {
		                cm.setOption("fullScreen", !cm.getOption("fullScreen"));
		            },
		            "Esc": function(cm) {
		                if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
		            }
		        },
		        hintOptions: {schemaInfo: tags}
	        });
			refreshTree();
			function refreshTree() {
				var treeUrl = ctx + "/admin/directive/cmsTemplateTree";
				var selectNode;
				ajaxSubmit(treeUrl, null, function(data) {
					var setting = {
						data: {
							simpleData: {
								enable: true,
								idKey : 'code',
								pIdKey : "parentCode"
							}
						},
						callback: {
							onClick: function(event, treeId, treeNode) {
								refreshForm(treeNode.code);
							}
						}
					};
					$.fn.zTree.init($("#templateTree"), setting, data.simpleTree);
				});
			}

			function refreshForm(code) {
				var detailUrl = ctx + "/admin/directive/cmsTemplate";
			    ajaxSubmit(detailUrl, 'code=' + code, function(data) {
			    	var form = $('#save-template-form');
			    	form.resetForm();
			    	form.setForm(data.template);
			    	if (data.template.type.code == 'file') {
				    	$('#pre-view').attr('href', ctx + "/admin/template/find/" + data.template.code);
			    	}
			    	else {
				    	$('#pre-view').attr('href', "");
			    	}
			    	editor.setValue(data.template.content);
			    	form.find("[name=code]").attr("readonly", "");
			    })
			}
			
			$('#pre-view').click(function() {
				var url = $('#pre-view').attr('href');
				if (url) {
					window.parent.showIframe('模板预览', url);
				}
				else {
					showMsg("请选择预览模板！", 2);
				}
			});
			
			$('#add-place').click(function() {
				var orgUrl = ctx + "/admin/directive/cmsPlaceTree";
				ajaxSubmit(orgUrl, null, function(data) {
					window.parent.showSimpleTree('片段选择', data.simpleTree, function(treeNode){
						if (!treeNode.isParent) {
							var temp = '&lt;@includePlace code="' + treeNode.code + '" /&gt;&lt;!-- ' + treeNode.name + ' --&gt;';
							temp = temp.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
						    editor.replaceSelection(temp);
						}
					})
				});
			});

			$('#add-template').click(function() {
				var orgUrl = ctx + "/admin/directive/cmsTemplateTree";
				ajaxSubmit(orgUrl, null, function(data) {
					window.parent.showSimpleTree('片段选择', data.simpleTree, function(treeNode){
						if (!treeNode.isParent) {
							var temp = '&lt;@include code="' + treeNode.code + '" /&gt;&lt;!-- ' + treeNode.name + ' --&gt;';
							temp = temp.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
						    editor.replaceSelection(temp);
						}
					})
				});
			});

			$('#add-file').click(function() {
				var orgUrl = ctx + "/admin/directive/cmsFileTree";
				ajaxSubmit(orgUrl, null, function(data) {
					window.parent.showSimpleTree('站点文件选择', data.simpleTree, function(treeNode){
						if (!treeNode.isParent) {
							var fileType = getFileType(treeNode.name);
							var temp;
							if (fileType == 'js') {
								temp = '&lt;script type="text/javascript" src="&dl;{site.path}' + treeNode.path + '"/&gt;';
								temp = temp.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&dl;/g, '$');
							}
							else if (fileType == "css") {
								temp = '&lt;link rel="stylesheet" href="&dl;{site.path}' + treeNode.path + '"/&gt;';
								console.log(temp);
								temp = temp.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&dl;/g, '$');
							}
							else if (isImage(fileType)) {
								temp = '&lt;img rel="stylesheet" src="&dl;{site.path}' + treeNode.path + '"/&gt;';
								temp = temp.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&dl;/g, '$');
							}
							else {
								temp = '&lt;a rel="stylesheet" href="&dl;{site.path}' + treeNode.path + '"&gt;' + treeNode.name + '&lt;/a&gt;';
								temp = temp.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&dl;/g, '$');
							}
							console.log(temp);
						    editor.replaceSelection(temp);
						}
					})
				});
			});
			
			$('#add').click(function() {
				var nodes = getTree('templateTree').getSelectedNodes();
				var form = $('#save-template-form');
				form.resetForm();
				form.find("input[name=code]").removeAttr("readonly");
				if (nodes && nodes.length > 0) {
					console.log(nodes);
					form.find("input[name='parent.code']").val(nodes[0].code);
				}
				else {
					form.find("input[name='parent.code']").val('');
				}
				editor.setValue("");
			});
			
			$('#delete').click(function() {
				var code = $('#save-template-form').find("[name=code]").val();
				if (isEmpty(code)) {
					showMsg("请选择需要删除的模板信息", 5);
					return;
				}
				window.parent.showConfirm("是否确认删除该模板信息！", '模板删除', function(){
					var url = ctx + "/admin/template/delete";
					ajaxSubmit(url, "code=" + code, function() {
						$('#save-template-form').resetForm();
						refreshTree();
					});
				})
			});
			
			ajaxForm($('#save-template-form'), function() {
				refreshTree();
				var code = $('#save-template-form').find("[name=code]").val();
				refreshForm(code);
			});
		})
		</script>
    </head>
    <body>
       	<div class="row">
			<div class="col-md-3">
				<div class="main-card card">
					<div class="card-body">
						<ul id="templateTree" class="ztree"></ul>
					</div>
				</div>
			</div>
       		<div class="col-md-9">
				<div class="main-card card">
					<div class="card-body">
		       			<form id="save-template-form" action="${ctx}/admin/template/save" onsubmit="return false;" class="needs-validation" novalidate>
							<input name="site.code" type="hidden" required>
							<input name="parent.code" type="hidden" required>
							<div class="position-relative row form-group">
				                <div class="col-md-2">
									<label class="col-form-label"><@t.page 'list.code'/></label>
									<input name="code" type="text" class="form-control" required>
									<div class="invalid-feedback">
                                        Please provide a valid code
                                    </div>
				                </div>
				                <div class="col-md-3">
									<label class="col-form-label"><@t.page 'list.name'/></label>
									<input name="name" type="text" class="form-control" required>
									<div class="invalid-feedback">
                                        Please provide a valid name
                                    </div>
				                </div>
				                <div class="col-md-2">
									<label class="col-form-label"><@t.page 'list.type'/></label>
									<select name="type.code" class="custom-select" required>
										<@cmsTemplateType>
											<#list types as type>
												<option value="${type.code}">${type.name}</option>
											</#list>
										</@cmsTemplateType>
									</select>
									<div class="invalid-feedback">
                                        Please provide a valid sort
                                    </div>
				                </div>
				                <div class="col-md-5">
									<label class="col-form-label"><@t.page 'list.operation'/></label>
									<div>
										<span class="btn btn-info" id="add-template">模板片段</span>
										<span class="btn btn-info" id="add-place">页面片段</span>
										<span class="btn btn-info" id="add-file">站点文件</span>
										<span class="btn btn-info" id="pre-view">预览</span>
									</div>
				                </div>
							</div>
							<div class="position-relative row form-group">
								<textarea id="content" name="content" class="form-control"></textarea>
							</div>
							<div class="position-relative row form-check">
								<div class="col-sm-10 offset-sm-2">
									<button class="btn btn-info" type="submit"><@t.page 'btn.save'/></button>
									<span class="btn btn-secondary" id="add"><@t.page 'btn.add'/></span>
									<span class="btn btn-danger" id="delete"><@t.page 'btn.delete'/></span>
								</div>
							</div>
						</form>
					</div>
				</div>
       		</div>
       	</div>
    </body>
</html>
