<noscript id="add-content-path-modal" class="modal fade" data-form=".content-path-list" tabindex="-1" role="dialog" aria-hidden="true">
<div class="card-body"><h5 class="card-title"><@t.message 'category.path'/></h5>
    <div class="position-relative form-group">
        <div>
            <div class="ml-sm-2 custom-radio custom-control">
            	<a class="content-path-list custom-control-label" data-val="&dl;{category.code}/&dl;{content.publishDate?string('yyyy-MM-dd')}/&dl;{content.id}.html">静态路径:{分类编码}/{年-月-日}/{内容ID}.html</a>
            </div>
            <div class="ml-sm-2 custom-radio custom-control">
            	<a class="content-path-list custom-control-label" data-val="&dl;{content.publishDate?string('yyyy/MM-dd')}/&dl;{content.id}.html">静态路径:{年}/{月-日}/{内容ID}.html</a>
            </div>
            <div class="ml-sm-2 custom-radio custom-control">
            	<a class="content-path-list custom-control-label" data-val="&dl;{content.publishDate?string('yyyy/MM-dd')}/&dl;{getMd5(category.code+content.id)}.html">静态路径:{年}/{月-日}/{MD5加密(分类编码+内容ID)}.html</a>
            </div>
        </div>
    </div>
</div>
</noscript>