<!doctype html>
<html lang="en">
    <head>
		<meta charset="utf-8">
        <meta name="description" content="LegoCMS">
        <#include "../include_page/link.html"/>
		<script type="text/javascript" src="${res}/assets/js/cms/sys-permission.js"></script>
    </head>
    <body>
       	<div class="row">
			<div class="main-card card col-md-3">
				<ul id="permissionTree" class="ztree"></ul>
			</div>
       		<div class="col-md-9">
				<div class="main-card card">
					<div class="card-body">
		       			<form id="save-permission-form" action="${ctx}/admin/permission/save" onsubmit="return false;" class="needs-validation" novalidate>
							<div class="position-relative row form-group">
								<label class="col-sm-2 col-form-label">Code</label>
								<div class="col-sm-10">
									<input name="code" type="text" class="form-control" required>
									<div class="invalid-feedback">
                                        Please provide a valid Code
                                    </div>
								</div>
							</div>
							<div class="position-relative row form-group">
								<label class="col-sm-2 col-form-label">Name</label>
								<#list langTypes as langType>
					                <div class="col-md-4">
										<div class="input-group">
											<input name="lang[${langType_index}].code" class="form-control" readonly data-noreset>
				                            <div class="input-group-append">
												<input name="lang[${langType_index}].name" type="text" required>
				                            </div>
											<div class="invalid-feedback">
		                                        Please provide a valid name
		                                    </div>
	                                    </div>
					                </div>
								</#list>
							</div>
							<div class="position-relative row form-group">
								<label class="col-sm-2 col-form-label">Url</label>
								<div class="col-sm-10">
									<input name="url" type="text" class="form-control">
								</div>
							</div>
							<div class="position-relative row form-group">
								<label class="col-sm-2 col-form-label">Menu</label>
								<div class="col-sm-10">
									<select id="menu" name="menu" class="form-control custom-select" required>
										<option value="true">true</option>
										<option value="false">false</option>
									</select>
									<div class="invalid-feedback">
                                        Please provide a valid menu
                                    </div>
								</div>
							</div>
							<div class="position-relative row form-group">
								<label class="col-sm-2 col-form-label">Sort</label>
								<div class="col-sm-10">
									<input name="sort" type="text" class="form-control" required>
									<div class="invalid-feedback">
                                        Please provide a valid sort
                                    </div>
								</div>
							</div>
							<div class="position-relative row form-group">
								<label class="col-sm-2 col-form-label">Icon</label>
								<div class="col-sm-10">
									<div class="input-group">
										<input type="text" name="icon" class="form-control" readonly>
			                            <div class="input-group-append">
			                                <div class="btn btn-secondary" data-toggle="modal" data-target="#org-modal">Chose Icon</div>
			                            </div>
									</div>
								</div>
							</div>
							<input name="parent.code" type="hidden" data-noreset>
							<div class="position-relative row form-group">
								<label class="col-sm-2 col-form-label">Create Date</label>
								<div class="col-sm-10">
									<input name="createDate" placeholder="Create Date" class="form-control" readonly>
								</div>
							</div>
							<div class="position-relative row form-check">
								<div class="col-sm-10 offset-sm-2">
									<button class="btn btn-secondary" type="submit">Submit</button>
									<span class="btn btn-info" id="add">Add</span>
									<span class="btn btn-danger" id="delete">Delete</span>
								</div>
							</div>
						</form>
					</div>
				</div>
       		</div>
       	</div>
    </body>
</html>
