<noscript id="change-password-modal" data-form="#change-password-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<form id="change-password-form" action="${ctx}/admin/user/changePassword" onsubmit="return false;" class="needs-validation" novalidate>
		<div class="modal-body">
			<div class="position-relative row form-group">
				<label class="col-sm-3 col-form-label"><@t.page 'setting.original-password'/></label>
				<div class="col-sm-9">
					<input name="originalPassword" type="text" class="form-control" required>
					<div class="invalid-feedback">Please provide a valid original password</div>
				</div>
			</div>
			<div class="position-relative row form-group">
				<label class="col-sm-3 col-form-label"><@t.page 'setting.new-password'/></label>
				<div class="col-sm-9">
					<input name="newPassword" type="text" class="form-control" required>
					<div class="invalid-feedback">Please provide a valid new password</div>
				</div>
			</div>
			<div class="position-relative row form-group">
				<label class="col-sm-3 col-form-label"><@t.page 'setting.repeat-password'/></label>
				<div class="col-sm-9">
					<input name="repeatPassword" type="text" class="form-control" required>
					<div class="invalid-feedback">Please provide a valid repeat password</div>
				</div>
			</div>
		</div>
	</form>
</noscript>