<!doctype html>
<html lang="en">
    <head>
		<meta charset="utf-8">
        <meta name="description" content="LegoCMS">
        <#include "../include_page/link.html"/>
		<script type="text/javascript" src="${res}/assets/js/cms/sysUser.js"></script>
    </head>
    <body>
        <div class="app-main__inner" id="MyPagination-user-list">
           	<form class="queryForm app-page-title" onsubmit="return false;" name="queryForm">
               	<div class="page-title-wrapper">
                     <div class="form-inline">
		                 <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
		                 	<input name="name" placeholder="name" type="text" class="form-control">
		                 </div>
		                 <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
		                 	<input name="code" placeholder="code" type="text" class="form-control">
		                 </div>
		                 <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
							<select name="status" id="status" class="form-control custom-select">
								<option value="">状态</option>
								<@sysUserState>
									<#list userStatus as userState>
										<option value="${userState.code}">${userState.name}</option>
									</#list>
								</@sysUserState>
							</select>
		                 </div>
		                 <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
		                 	<button class="btn btn-primary query">查 询</button>
		                 </div>
		                 <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
		                 	<button type="button" data-toggle="collapse" href="#advanced-search" class="btn btn-danger">高级查询</button>
		                 </div>
		                 <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
		                 	<button class="btn btn-info"onclick="window.parent.addTab('user-add', '创建员工', '/admin/user/edit/1_#')" >创 建</button>
		                 </div>
                     </div>
                </div>
                <div class="collapse" id="advanced-search">
					<div class="divider"></div>
					<div class="page-title-wrapper">
						<div class="form-inline">
							<div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
								<div class="btn date-inline selectdate" title="创建时间">
									<i class="fa fa-calendar"></i>
									<span></span>
									<input type="hidden" name="createStart"  value="">
									<input type="hidden" name="createEnd"  value="">
								</div>
							</div>
						</div>
					</div>
				</div>
           	</form>
	        <div class="row row-fluid">
	            <div class="col-md-12">
	                <div class="main-card mb-3 card">
	                    <div class="card-header">员工列表
	                        <div class="btn-actions-pane-right">
	                            <div role="group" class="btn-group-sm btn-group">
	                                <button class="active btn btn-focus">全部</button>
	                                <button class="btn btn-focus">已激活</button>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="table-responsive">
	                        <table role="grid" class="align-middle mb-0 table table-borderless table-striped table-hover mytab">
	                            <thead>
	                                <tr role="row">
	                                    <th class="text-center">编码</th>
	                                    <th>名称</th>
	                                    <th class="text-center">部门</th>
	                                    <th class="text-center">创建时间</th>
	                                    <th class="text-center">状态</th>
	                                    <th class="text-center">操作</th>
	                                </tr>
	                            </thead>
                        		<tbody></tbody>
	                        </table>
	                    </div>
	                    <div class="d-block text-center card-footer widget-content-rigth">
	                    	<nav class="" aria-label="Page navigation example">
	                    	<div class="tempContentDiv"></div>
				   			<p style="display: none">
					            <textarea id="Template-user-list" rows="0" cols="0">
					                <!--
					                    {#template MAIN}
					                        {#foreach $T.page.result as Result}
					                            <tr role="row" >
					                                <td class="text-center text-muted">{$T.Result.code}</td>
					                                <td>{$T.Result.name}</td>
					                                <td class="text-center">{$T.Result.organization.name}</td>
					                                <td class="text-center">{$T.Result.createDate}</td>
					                                <td class="text-center">
					                                	{#if $T.Result.status.code == 'Using'}
					                                		<div class="badge badge-info">{$T.Result.status.name}</div>
					                                	{#else}
					                                		<div class="badge badge-danger">{$T.Result.status.name}</div>
					                                	{#/if}
					                                </td>
					                                <td class="text-center">
					                                	<button onclick="window.parent.addTab('user-edit', '员工修改', '/admin/user/edit/{$T.Result.code}')" class="btn btn-primary btn-sm">修改</button>
					                                	{#if $T.Result.status.code == 'Using'}
					                                		<button onclick="invalid('{$T.Result.code}')" class="btn btn-primary btn-sm">注销</button>
					                                	{#else}
					                                		<button onclick="active('{$T.Result.code}')" class="btn btn-primary btn-sm">激活</button>
					                                	{#/if}
					                                </td>
					                            </tr>
					                        {#/for}
					                    {#/template MAIN}
					                -->
					            </textarea>
				        	</p>
	                    	</nav>
	                   	</div>
	                </div>
	            </div>
	        </div>
	    </div>
    </body>
</html>
