<div id="role-modal" data-form="#save-role-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<form id="save-role-form" action="${ctx}/admin/role/save" onsubmit="return false;" class="needs-validation" novalidate>
		<div class="modal-body">
			<div class="position-relative row form-group">
				<label class="col-sm-2 col-form-label"><@t.page 'list.code'/></label>
				<div class="col-sm-10">
					<input name="code" type="text" class="form-control" required>
					<div class="invalid-feedback">Please provide a valid code</div>
				</div>
			</div>
			<div class="position-relative row form-group">
				<label class="col-sm-2 col-form-label"><@t.page 'list.name'/></label>
				<div class="col-sm-10">
					<input name="name" type="text" class="form-control" required>
					<div class="invalid-feedback">Please provide a valid name</div>
				</div>
			</div>
		</div>
	</form>
</div>