<!doctype html>
<html lang="en">
    <head>
		<meta charset="utf-8">
        <meta name="description" content="LegoCMS">
        <#include "include_page/link.html"/>
        <link rel="stylesheet" href="${res}/assets/css/index.css">
        <script type="text/javascript" src="${res}/assets/js/menu.js"></script>
    </head>
    <body>
        <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
            <#include "include_page/header.html"/>
            
            <#include "include_page/ui-selector.html"/>
            
            <div class="app-main">
            	<#include "include_page/menus.html"/>
                <div class="app-main__outer">
                    
                    <div class="nav-tab">
					    <p class="nav-scroll nav-scroll-left" title="<@t.page 'tab.scroll-left'/>"></p>
					    <div class="tabbed round">
					        <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav" id="tab-home">
					        </ul>
					    </div>
					    <p class="nav-scroll nav-scroll-right" title="<@t.page 'tab.scroll-right'/>"></p>
					    <div class="close-box">
					        <label></label>
					        <div class="close-item">
					            <span class="closeAll"><@t.page 'tab.close-all'/></span>
					            <span class="closeOther"><@t.page 'tab.close-other'/></span>
					        </div>
					    </div>
					</div>
                    
                    <div class="app-main__inner">
                    	<div class="tab-content">
                        </div>
                    </div>
            		<#include "include_page/footer.html"/>
                </div>
            </div>
        </div>
		<#include "include_page/change-password-modal.html"/>
    </body>
</html>