<!doctype html>
<html lang="en">
    <head>
        <title>LegoCMS</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <meta name="description" content="LegoCMS">
        <meta name="msapplication-tap-highlight" content="no">
        <link rel="stylesheet" href="${res}/assets/css/main.css">
        <link rel="stylesheet" href="${res}/assets/css/index.css">
        <script type="text/javascript" src="${res}/assets/js/jquery.js"></script>
        <script type="text/javascript" src="${res}/assets/js/submit.js"></script>
        <script type="text/javascript" src="${res}/assets/js/main.js"></script>
        <script type="text/javascript" src="${res}/assets/js/menu.js"></script>
        <script type="text/javascript" src="${res}/assets/js/index.js"></script>
    </head>
    <body>
        <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
            <#include "include_page/header.html"/>
            
            <#include "include_page/ui-selector.html"/>
            
            <div class="app-main">
            	<#include "include_page/menus.html"/>
                <div class="app-main__outer">
                    
                    <div class="nav-tab">
					    <p class="nav-scroll nav-scroll-left" title="向左滚动"></p>
					    <div class="tabbed round">
					        <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav" id="tab-home">
					        </ul>
					    </div>
					    <p class="nav-scroll nav-scroll-right" title="向右滚动"></p>
					    <div class="close-box">
					        <label title="关闭操作"></label>
					        <div class="close-item">
					            <span class="closeAll">关闭全部</span>
					            <span class="closeOther">关闭其他</span>
					        </div>
					    </div>
					</div>
                    
                    <div class="app-main__inner">
                    	<div class="tab-content">
                        </div>
                    </div>
            		<#include "include_page/footer.html"/>
                </div>
            </div>
        </div>
    </body>
</html>
