<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>LegoCMS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <meta name="description" content="LegoCMS">
        <meta name="msapplication-tap-highlight" content="no">
        <style>
            body {background-color: rgba(0, 0, 0, 0.3)!important;}
            .fa-box-open {margin-top: 100px;}
            .widget-content {width: 450px;margin-left: auto;margin-right: auto;text-align: center;}
            .widget-content h1 {color: #FFFFFF;font-weight: 700;}
            .widget-content-wrapper {display: block!important;padding: 0px 40px;}
            .input-group {margin-top: 10px;}
            .btn-primary {width: 100%;margin-top: 10px;}
        </style>
        <link rel="stylesheet" href="${res}/assets/css/main.css">
        <link rel="stylesheet" href="${res}/assets/js/layui/css/layui.css">
        <script type="text/javascript" src="${res}/assets/js/layui/layui.js"></script>
        <script type="text/javascript" src="${res}/assets/js/jquery.js"></script>
        <script type="text/javascript" src="${res}/assets/js/submit.js"></script>
        <script type="text/javascript">
        $(function() {
        	/* var url = '${base}/user/doLogin';
        	ajaxSubmit(url, $('#login-form').serialize(), function(data) {
        		console.log(data);
        	}); */
        	$('#login-btn').click(function() {
                alert(2);
                layer.load(0, {
                    shade: false
                });
                alert(123);
        	})
        })
        var url = '${base}/user/doLogin';
        layui.use('form', function(){
        	var form = layui.form;
        	  
        	//监听提交
       		form.on('submit(formDemo)', function(data){
        		layer.msg(JSON.stringify(data.field));
        		return false;
        	});
        });
        </script>
	</head>
	<body>
        <div class="fa-box-open">
            <div class="widget-content">
                <h1>LEGO CMS</h1>
            </div>
            <div class="card mb-3 widget-content">
                <div class="widget-content-wrapper">
                    <form id="login-form" action="${base}/user/doLogin" method="post">
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">@</span></div>
                            <input placeholder="username" type="text" name="username" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">@</span></div>
                            <input placeholder="password" type="password" name="password" class="form-control">
                        </div>
                        <div class="input-group">
                            <button class="mb-2 mr-2 btn btn-primary"style="margin-right: 0px!important;">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
	</body>
</html>
