<noscript id="icon-modal" data-form=".font-icon-wrapper" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-body row">
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-album"> </i>
				<p class="modal" >pe-7s-album</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-arc"> </i>
				<p class="modal" >pe-7s-arc</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-back-2"> </i>
				<p class="modal" >pe-7s-back-2</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-bandaid"> </i>
				<p class="modal" >pe-7s-bandaid</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-car"> </i>
				<p class="modal" >pe-7s-car</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-diamond"> </i>
				<p class="modal" >pe-7s-diamond</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-door-lock"> </i>
				<p class="modal" >pe-7s-door-lock</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-eyedropper"> </i>
				<p class="modal" >pe-7s-eyedropper</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-female"> </i>
				<p class="modal" >pe-7s-female</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-gym"> </i>
				<p class="modal" >pe-7s-gym</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-hammer"> </i>
				<p class="modal" >pe-7s-hammer</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-headphones"> </i>
				<p class="modal" >pe-7s-headphones</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-helm"> </i>
				<p class="modal" >pe-7s-helm</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-hourglass"> </i>
				<p class="modal" >pe-7s-hourglass</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-leaf"> </i>
				<p class="modal" >pe-7s-leaf</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-magic-wand"> </i>
				<p class="modal" >pe-7s-magic-wand</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-male"> </i>
				<p class="modal" >pe-7s-male</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-map-2"> </i>
				<p class="modal" >pe-7s-map-2</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-next-2"> </i>
				<p class="modal" >pe-7s-next-2</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-paint-bucket"> </i>
				<p class="modal" >pe-7s-paint-bucket</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-pendrive"> </i>
				<p class="modal" >pe-7s-pendrive</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-photo"> </i>
				<p class="modal" >pe-7s-photo</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-piggy"> </i>
				<p class="modal" >pe-7s-piggy</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-plugin"> </i>
				<p class="modal" >pe-7s-plugin</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-refresh-2"> </i>
				<p class="modal" >pe-7s-refresh-2</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-rocket"> </i>
				<p class="modal" >pe-7s-rocket</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-settings"> </i>
				<p class="modal" >pe-7s-settings</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-shield"> </i>
				<p class="modal" >pe-7s-shield</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-smile"> </i>
				<p class="modal" >pe-7s-smile</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-usb"> </i>
				<p class="modal" >pe-7s-usb</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-vector"> </i>
				<p class="modal" >pe-7s-vector</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-wine"> </i>
				<p class="modal" >pe-7s-wine</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-cloud-upload"> </i>
				<p class="modal" >pe-7s-cloud-upload</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-cash"> </i>
				<p class="modal" >pe-7s-cash</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-close"> </i>
				<p class="modal" >pe-7s-close</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-bluetooth"> </i>
				<p class="modal" >pe-7s-bluetooth</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-cloud-download"> </i>
				<p class="modal" >pe-7s-cloud-download</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-way"> </i>
				<p class="modal" >pe-7s-way</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-close-circle"> </i>
				<p class="modal" >pe-7s-close-circle</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-id"> </i>
				<p class="modal" >pe-7s-id</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-angle-up"> </i>
				<p class="modal" >pe-7s-angle-up</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-wristwatch"> </i>
				<p class="modal" >pe-7s-wristwatch</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-angle-up-circle"> </i>
				<p class="modal" >pe-7s-angle-up-circle</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-world"> </i>
				<p class="modal" >pe-7s-world</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-angle-right"> </i>
				<p class="modal" >pe-7s-angle-right</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-volume"> </i>
				<p class="modal" >pe-7s-volume</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-angle-right-circle"> </i>
				<p class="modal" >pe-7s-angle-right-circle</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-users"> </i>
				<p class="modal" >pe-7s-users</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-angle-left"> </i>
				<p class="modal" >pe-7s-angle-left</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-user-female"> </i>
				<p class="modal" >pe-7s-user-female</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-angle-left-circle"> </i>
				<p class="modal" >pe-7s-angle-left-circle</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-up-arrow"> </i>
				<p class="modal" >pe-7s-up-arrow</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-angle-down"> </i>
				<p class="modal" >pe-7s-angle-down</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-switch"> </i>
				<p class="modal" >pe-7s-switch</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-angle-down-circle"> </i>
				<p class="modal" >pe-7s-angle-down-circle</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-scissors"> </i>
				<p class="modal" >pe-7s-scissors</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-wallet"> </i>
				<p class="modal" >pe-7s-wallet</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-safe"> </i>
				<p class="modal" >pe-7s-safe</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-volume2"> </i>
				<p class="modal" >pe-7s-volume2</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-volume1"> </i>
				<p class="modal" >pe-7s-volume1</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-voicemail"> </i>
				<p class="modal" >pe-7s-voicemail</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-video"> </i>
				<p class="modal" >pe-7s-video</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-user"> </i>
				<p class="modal" >pe-7s-user</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-upload"> </i>
				<p class="modal" >pe-7s-upload</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-unlock"> </i>
				<p class="modal" >pe-7s-unlock</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-umbrella"> </i>
				<p class="modal" >pe-7s-umbrella</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-trash"> </i>
				<p class="modal" >pe-7s-trash</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-tools"> </i>
				<p class="modal" >pe-7s-tools</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-timer"> </i>
				<p class="modal" >pe-7s-timer</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-ticket"> </i>
				<p class="modal" >pe-7s-ticket</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-target"> </i>
				<p class="modal" >pe-7s-target</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-sun"> </i>
				<p class="modal" >pe-7s-sun</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-study"> </i>
				<p class="modal" >pe-7s-study</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-stopwatch"> </i>
				<p class="modal" >pe-7s-stopwatch</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-star"> </i>
				<p class="modal" >pe-7s-star</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-speaker"> </i>
				<p class="modal" >pe-7s-speaker</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-signal"> </i>
				<p class="modal" >pe-7s-signal</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-shuffle"> </i>
				<p class="modal" >pe-7s-shuffle</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-shopbag"> </i>
				<p class="modal" >pe-7s-shopbag</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-share"> </i>
				<p class="modal" >pe-7s-share</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-server"> </i>
				<p class="modal" >pe-7s-server</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-search"> </i>
				<p class="modal" >pe-7s-search</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-film"> </i>
				<p class="modal" >pe-7s-film</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-science"> </i>
				<p class="modal" >pe-7s-science</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-disk"> </i>
				<p class="modal" >pe-7s-disk</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-ribbon"> </i>
				<p class="modal" >pe-7s-ribbon</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-repeat"> </i>
				<p class="modal" >pe-7s-repeat</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-refresh"> </i>
				<p class="modal" >pe-7s-refresh</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-add-user"> </i>
				<p class="modal" >pe-7s-add-user</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-refresh-cloud"> </i>
				<p class="modal" >pe-7s-refresh-cloud</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-paperclip"> </i>
				<p class="modal" >pe-7s-paperclip</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-radio"> </i>
				<p class="modal" >pe-7s-radio</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-note2"> </i>
				<p class="modal" >pe-7s-note2</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-print"> </i>
				<p class="modal" >pe-7s-print</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-network"> </i>
				<p class="modal" >pe-7s-network</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-prev"> </i>
				<p class="modal" >pe-7s-prev</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-mute"> </i>
				<p class="modal" >pe-7s-mute</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-power"> </i>
				<p class="modal" >pe-7s-power</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-medal"> </i>
				<p class="modal" >pe-7s-medal</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-portfolio"> </i>
				<p class="modal" >pe-7s-portfolio</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-like2"> </i>
				<p class="modal" >pe-7s-like2</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-plus"> </i>
				<p class="modal" >pe-7s-plus</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-left-arrow"> </i>
				<p class="modal" >pe-7s-left-arrow</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-play"> </i>
				<p class="modal" >pe-7s-play</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-key"> </i>
				<p class="modal" >pe-7s-key</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-plane"> </i>
				<p class="modal" >pe-7s-plane</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-joy"> </i>
				<p class="modal" >pe-7s-joy</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-photo-gallery"> </i>
				<p class="modal" >pe-7s-photo-gallery</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-pin"> </i>
				<p class="modal" >pe-7s-pin</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-phone"> </i>
				<p class="modal" >pe-7s-phone</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-plug"> </i>
				<p class="modal" >pe-7s-plug</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-pen"> </i>
				<p class="modal" >pe-7s-pen</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-right-arrow"> </i>
				<p class="modal" >pe-7s-right-arrow</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-paper-plane"> </i>
				<p class="modal" >pe-7s-paper-plane</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-delete-user"> </i>
				<p class="modal" >pe-7s-delete-user</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-paint"> </i>
				<p class="modal" >pe-7s-paint</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-bottom-arrow"> </i>
				<p class="modal" >pe-7s-bottom-arrow</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-notebook"> </i>
				<p class="modal" >pe-7s-notebook</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-note"> </i>
				<p class="modal" >pe-7s-note</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-next"> </i>
				<p class="modal" >pe-7s-next</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-news-paper"> </i>
				<p class="modal" >pe-7s-news-paper</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-musiclist"> </i>
				<p class="modal" >pe-7s-musiclist</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-music"> </i>
				<p class="modal" >pe-7s-music</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-mouse"> </i>
				<p class="modal" >pe-7s-mouse</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-more"> </i>
				<p class="modal" >pe-7s-more</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-moon"> </i>
				<p class="modal" >pe-7s-moon</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-monitor"> </i>
				<p class="modal" >pe-7s-monitor</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-micro"> </i>
				<p class="modal" >pe-7s-micro</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-menu"> </i>
				<p class="modal" >pe-7s-menu</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-map"> </i>
				<p class="modal" >pe-7s-map</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-map-marker"> </i>
				<p class="modal" >pe-7s-map-marker</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-mail"> </i>
				<p class="modal" >pe-7s-mail</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-mail-open"> </i>
				<p class="modal" >pe-7s-mail-open</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-mail-open-file"> </i>
				<p class="modal" >pe-7s-mail-open-file</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-magnet"> </i>
				<p class="modal" >pe-7s-magnet</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-loop"> </i>
				<p class="modal" >pe-7s-loop</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-look"> </i>
				<p class="modal" >pe-7s-look</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-lock"> </i>
				<p class="modal" >pe-7s-lock</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-lintern"> </i>
				<p class="modal" >pe-7s-lintern</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-link"> </i>
				<p class="modal" >pe-7s-link</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-like"> </i>
				<p class="modal" >pe-7s-like</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-light"> </i>
				<p class="modal" >pe-7s-light</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-less"> </i>
				<p class="modal" >pe-7s-less</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-keypad"> </i>
				<p class="modal" >pe-7s-keypad</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-junk"> </i>
				<p class="modal" >pe-7s-junk</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-info"> </i>
				<p class="modal" >pe-7s-info</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-home"> </i>
				<p class="modal" >pe-7s-home</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-help2"> </i>
				<p class="modal" >pe-7s-help2</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-help1"> </i>
				<p class="modal" >pe-7s-help1</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-graph3"> </i>
				<p class="modal" >pe-7s-graph3</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-graph2"> </i>
				<p class="modal" >pe-7s-graph2</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-graph1"> </i>
				<p class="modal" >pe-7s-graph1</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-graph"> </i>
				<p class="modal" >pe-7s-graph</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-global"> </i>
				<p class="modal" >pe-7s-global</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-gleam"> </i>
				<p class="modal" >pe-7s-gleam</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-glasses"> </i>
				<p class="modal" >pe-7s-glasses</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-gift"> </i>
				<p class="modal" >pe-7s-gift</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-folder"> </i>
				<p class="modal" >pe-7s-folder</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-flag"> </i>
				<p class="modal" >pe-7s-flag</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-filter"> </i>
				<p class="modal" >pe-7s-filter</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-file"> </i>
				<p class="modal" >pe-7s-file</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-expand1"> </i>
				<p class="modal" >pe-7s-expand1</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-exapnd2"> </i>
				<p class="modal" >pe-7s-exapnd2</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-edit"> </i>
				<p class="modal" >pe-7s-edit</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-drop"> </i>
				<p class="modal" >pe-7s-drop</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-drawer"> </i>
				<p class="modal" >pe-7s-drawer</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-download"> </i>
				<p class="modal" >pe-7s-download</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-display2"> </i>
				<p class="modal" >pe-7s-display2</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-display1"> </i>
				<p class="modal" >pe-7s-display1</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-diskette"> </i>
				<p class="modal" >pe-7s-diskette</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-date"> </i>
				<p class="modal" >pe-7s-date</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-cup"> </i>
				<p class="modal" >pe-7s-cup</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-culture"> </i>
				<p class="modal" >pe-7s-culture</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-crop"> </i>
				<p class="modal" >pe-7s-crop</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-credit"> </i>
				<p class="modal" >pe-7s-credit</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-copy-file"> </i>
				<p class="modal" >pe-7s-copy-file</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-config"> </i>
				<p class="modal" >pe-7s-config</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-compass"> </i>
				<p class="modal" >pe-7s-compass</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-comment"> </i>
				<p class="modal" >pe-7s-comment</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-coffee"> </i>
				<p class="modal" >pe-7s-coffee</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-cloud"> </i>
				<p class="modal" >pe-7s-cloud</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-clock"> </i>
				<p class="modal" >pe-7s-clock</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-check"> </i>
				<p class="modal" >pe-7s-check</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-chat"> </i>
				<p class="modal" >pe-7s-chat</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-cart"> </i>
				<p class="modal" >pe-7s-cart</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-camera"> </i>
				<p class="modal" >pe-7s-camera</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-call"> </i>
				<p class="modal" >pe-7s-call</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-calculator"> </i>
				<p class="modal" >pe-7s-calculator</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-browser"> </i>
				<p class="modal" >pe-7s-browser</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-box2"> </i>
				<p class="modal" >pe-7s-box2</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-box1"> </i>
				<p class="modal" >pe-7s-box1</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-bookmarks"> </i>
				<p class="modal" >pe-7s-bookmarks</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-bicycle"> </i>
				<p class="modal" >pe-7s-bicycle</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-bell"> </i>
				<p class="modal" >pe-7s-bell</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-battery"> </i>
				<p class="modal" >pe-7s-battery</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-ball"> </i>
				<p class="modal" >pe-7s-ball</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-back"> </i>
				<p class="modal" >pe-7s-back</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-attention"> </i>
				<p class="modal" >pe-7s-attention</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-anchor"> </i>
				<p class="modal" >pe-7s-anchor</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-albums"> </i>
				<p class="modal" >pe-7s-albums</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-alarm"> </i>
				<p class="modal" >pe-7s-alarm</p>
			</div>
		</div>
		<div class="col-md-2">
			<div class="font-icon-wrapper"><i class="pe-7s-airplay"> </i>
				<p class="modal" >pe-7s-airplay</p>
			</div>
		</div>
	</div>
</noscript>