<title>LegoCMS</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<link rel="stylesheet" href="${res}/unicorn/css/bootstrap.min.css" />
<link rel="stylesheet" href="${res}/unicorn/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="${res}/unicorn/css/datepicker.css" />
<link rel="stylesheet" href="${res}/unicorn/css/uniform.css" />
<link rel="stylesheet" href="${res}/unicorn/css/select2.css" />
<link rel="stylesheet" href="${res}/unicorn/css/chosen.min.css" />
<link rel="stylesheet" href="${res}/unicorn/js/myPagination/jqtransform.css" />
<link rel="stylesheet" href="${res}/unicorn/js/myPagination/messageBox.css" />
<link rel="stylesheet" href="${res}/unicorn/js/myPagination/page.css" />
<link rel="stylesheet" href="${res}/unicorn/css/unicorn.main.css" />
<link rel="stylesheet" href="${res}/unicorn/css/unicorn.tab.css" />
<link rel="stylesheet" href="${res}/unicorn/css/unicorn.form.css" />
<link rel="stylesheet" href="${res}/unicorn/css/unicorn.blue.css" class="skin-color" />
<script type="text/javascript">
	var ctx = "${ctx}";
	var res = "${res}";
</script>
<script type="text/javascript" src="${res}/unicorn/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/jquery/jquery.ui.custom.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/jquery/jquery.uniform.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/jquery/jquery.validate.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/jquery/jquery.wizard.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/jquery/jquery.gritter.min.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/jquery/jquery.peity.min.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/jquery/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/jquery/jquery.chosen.min.js"></script>

<script type="text/javascript" src="${res}/unicorn/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/bootstrap/bootstrap-datepicker.js"></script>

<script type="text/javascript" src="${res}/unicorn/js/layer/layer.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/select2.min.js"></script>

<script type="text/javascript" src="${res}/unicorn/js/unicorn/unicorn.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/unicorn/unicorn.datepicker.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/unicorn/unicorn.form_validation.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/unicorn/unicorn.wizard.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/unicorn/unicorn.interface.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/unicorn/unicorn.tables.js"></script>

<script type="text/javascript" src="${res}/unicorn/js/moment/moment.min.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/datepicker/daterangepicker.js"></script>

<script type="text/javascript" src="${res}/unicorn/js/myPagination/jquery.myPagination6.0.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/myPagination/messageBox.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/myPagination/jquery.jqtransform.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/myPagination/jquery-jtemplates.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/myPagination/myPagination.js"></script>
<script type="text/javascript" src="${res}/unicorn/js/submit.js"></script>