<#macro permission parentCode>
    <@sysPermissionList code=parentCode>
       	<ul class="pagemenu">
			<#list permissions as p>
		        <#if p?size gt 0>
	        		<#if p.hasChildren>
				        <li class="submenu">
				        	<a href="#" data-ref="${p.url!}" id="${p.code!}"><i class="icon ${p.icon!}"></i> <span>${p.name}</span></a>
							<@permission parentCode=p.code/>
				        </li>
	        		<#else>
				        <li>
				        	<a href="#" data-ref="${p.url!}" id="${p.code!}"><i class="icon ${p.icon!}"></i> <span>${p.name}</span></a>
							<@permission parentCode=p.code/>
				        </li>
	        		</#if>
		        </#if>
		    </#list>
	    </ul>
	</@sysPermissionList>
</#macro>
<div id="sidebar">
	<a href="#" class="visible-phone"><i class="icon icon-home" style="margin-top: -2px;"></i>菜单</a>
	<@permission parentCode='root' />
	<!-- <ul class="pagemenu">
		<li><a href="#" data-ref="home.html" id="home"><i class="icon icon-home"></i> <span>首页</span></a></li>
		<li class="submenu">
			<a href="#"><i class="icon icon-th-list"></i> <span>表单组件</span> <span class="label">3</span></a>
			<ul class="pagemenu">
				<li><a href="#" data-ref="form-common.html" id="form-common"> <i class="icon icon-home"></i><span>通用组件</span></a></li>
				<li><a href="#" data-ref="form-validation.html" id="form-validation">表单验证</a></li>
				<li><a href="#" data-ref="form-wizard.html" id="form-wizard">表单提示</a></li>
			</ul>
		</li>
		<li><a href="#" data-ref="buttons.html" id="buttons"><i class="icon icon-tint"></i> <span>按钮 &amp; 图标</span></a></li>
		<li><a href="#" data-ref="interface.html" id="interface"><i class="icon icon-pencil"></i> <span>UI元素</span></a></li>
		<li><a href="#" data-ref="tables.html" id="tables"><i class="icon icon-th"></i> <span>表格</span></a></li>
		<li><a href="#" data-ref="grid.html" id="grid"><i class="icon icon-th-list"></i> <span>网格布局</span></a></li>
		<li class="submenu">
			<a href="#"><i class="icon icon-file"></i> <span>其他页面</span> <span class="label">4</span></a>
			<ul class="pagemenu">
				<li><a href="#" data-ref="invoice.html" id="invoice">清单</a></li>
				<li><a href="#" data-ref="chat.html" id="chat">聊天</a></li>
				<li><a href="#" data-ref="calendar.html" id="calendar">日历</a></li>
				<li><a href="#" data-ref="gallery.html" id="gallery">相册</a></li>
			</ul>
		</li>
		<li>
			<a href="#" data-ref="charts.html" id="charts"><i class="icon icon-signal"></i> <span>图表统计</span></a>
		</li>
		<li>
			<a href="#" data-ref="widgets.html" id="widgets"><i class="icon icon-inbox"></i> <span>插件</span></a>
		</li>
	</ul> -->
</div>