.daterangepicker.dropdown-menu {
  max-width: none;
  z-index: 999999}

.daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar {
  float: left;
  margin: 4px}

.daterangepicker.opensright .calendar {
  float: right;
  margin: 4px}

.daterangepicker .ranges {
  margin:4px;
  text-align: left;
  padding:0px 20px}

.daterangepicker .ranges .range_inputs>div {
  float: left}
.daterangepicker .ranges .range_inputs{ padding:12px 0}
.daterangepicker .ranges .range_inputs input{ height:26px}
.daterangepicker .ranges .range_inputs>div:nth-child(2) {
  padding-left: 11px}

.daterangepicker .ranges .range_inputs .applyBtn{
	float:right}
.daterangepicker .ranges .range_inputs .cancelBtn{
	float:right;margin-right:10px}

  .daterangepicker .ranges .range_inputs .removeBtn{
  	float:right;margin-right:10px}


.daterangepicker .calendar {
  display: none;
  max-width: 290px}

.daterangepicker.show-calendar .calendar {
    display: block}

.daterangepicker .calendar.single .calendar-date {
  border: none}

.daterangepicker .calendar th, .daterangepicker .calendar td {
  white-space: nowrap;
  text-align: center;
  min-width: 30px}

.daterangepicker .daterangepicker_start_input label,
.daterangepicker .daterangepicker_end_input label {
  color: #666;
  display: block;
  font-size: 14px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  margin-bottom: 2px;
  text-shadow: #fff 1px 1px 0px;
  text-transform: uppercase;
  padding-right:10px;
  float:left;
  height:34px;
  line-height:25px}

.daterangepicker .ranges input {
  font-size: 12px}

.daterangepicker .ranges .input-mini {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  display: block;
  font-size: 12px;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  margin: 0 0 10px 0;
  padding: 0 6px;
  width: 84px;
  float:left}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0}

.daterangepicker .ranges li {
	display:inline-block;
  font-size: 12px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #08c;
  padding: 2px 8px;
  margin:0 4px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  background: #08c;
  border: 1px solid #08c;
  color: #fff}

.daterangepicker .calendar-date {
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
  background: #fff}
/*重新定义TD的padding*/
.daterangepicker .calendar-date .table-condensed td,
.daterangepicker .calendar-date .table-condensed th{ padding:1px 3px!important}



/**/
.daterangepicker .calendar-time {
  text-align: center;
  margin: 8px auto 0 auto;
  line-height: 30px}

.daterangepicker {
  position: absolute;
  background: #fff;
  top: 100px;
  left: 20px;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px}

.daterangepicker.opensleft:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: ''}

.daterangepicker.opensleft:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: ''}

.daterangepicker.opensright:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: ''}

.daterangepicker.opensright:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: ''}

.daterangepicker table {
  width: 100%;
  margin: 0}

.daterangepicker td, .daterangepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap}

.daterangepicker td.off {
  color: #bbb}

.daterangepicker td.disabled {
  color: #999}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background: #62c462;
  color:#fff}

.daterangepicker td.in-range {
  background: #ebf4f8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #39e;
  border-color: #3071a9;
  color: #fff}

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default}
.daterangepicker select.monthselect {
  margin-right: 5%;
  width: 40%}
.daterangepicker select.yearselect {
  width: 40%}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.ampmselect {
  width: 28%;
  margin-bottom: 0}

/*.daterangepicker_start_input {
  float: left}*/

.daterangepicker_end_input {float: left;padding-left: 11px}

.date-inline{background: #fff; box-shadow: none;cursor: pointer; padding: 4px; border:1px solid #ddd; margin:0; width:220px;}
