<title>LegoCMS</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
<meta name="msapplication-tap-highlight" content="no">
<link rel="stylesheet" href="${res}/assets/css/main.css">
<link rel="stylesheet" href="${res}/assets/js/myPagination/jqtransform.css" />
<link rel="stylesheet" href="${res}/assets/js/myPagination/messageBox.css" />
<link rel="stylesheet" href="${res}/assets/js/myPagination/page.css" />
<link rel="stylesheet" href="${res}/assets/js/datepicker/daterangepicker.css" />

<script type="text/javascript" src="${res}/assets/js/jquery.js"></script>
<script type="text/javascript" src="${res}/assets/js/myPagination/jquery.myPagination6.0.js"></script>
<script type="text/javascript" src="${res}/assets/js/myPagination/messageBox.js"></script>
<script type="text/javascript" src="${res}/assets/js/myPagination/jquery.jqtransform.js"></script>
<script type="text/javascript" src="${res}/assets/js/myPagination/jquery-jtemplates.js"></script>
<script type="text/javascript" src="${res}/assets/js/myPagination/myPagination.js"></script>
<script type="text/javascript" src="${res}/assets/js/datepicker/moment.js"></script>
<script type="text/javascript" src="${res}/assets/js/datepicker/daterangepicker.js"></script>
<script type="text/javascript">
	var ctx = "${ctx}";
</script>
<script type="text/javascript" src="${res}/assets/js/main.js"></script>
<script type="text/javascript" src="${res}/assets/js/layer/layer.js"></script>
<script type="text/javascript" src="${res}/assets/js/submit.js"></script>
<script type="text/javascript" src="${res}/assets/js/common.js"></script>