<div class="app-sidebar__inner">
	<#macro module parentCode top>
	    <@sysModuleList code=parentCode menu=true>
			<#list modules as m>
		        <#if m?size gt 0>
		        	<ul class="vertical-nav-menu">
		        		<#if top>
				        	<!-- <li class="app-sidebar__heading">----</li> -->
				        </#if>
				        <li>
				        	<#if top>
					            <a href="#" aria-expanded="true" class="menu-item-top">
					                <i class="metismenu-icon ${m.icon!}"></i>
					                ${m.name}
					                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
					            </a>
				        	<#else>
			                    <a href="#" data-url="index.html" class="menu-item">
			                        <i class="metismenu-icon ${m.icon!}"></i>
			                        ${m.name}
			                    </a>
				        	</#if>
							<@module parentCode=m.code top=false />
				        </li>
				    </ul>
		        </#if>
		    </#list>
		</@sysModuleList>
	</#macro>
	<@module parentCode='' top=true />
</div>