<div class="app-sidebar__inner">
	<#macro permission parentCode top>
	    <@sysPermissionList code=parentCode menu=true>
			<#list permissions as p>
		        <#if p?size gt 0>
		        	<ul class="vertical-nav-menu">
		        		<#if top>
				        	<!-- <li class="app-sidebar__heading">----</li> -->
				        </#if>
				        <li>
				        	<#if top>
					            <a href="#" aria-expanded="true" class="menu-item-top">
					                <i class="metismenu-icon ${p.icon!}"></i>
					                ${p.name}
					                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
					            </a>
				        	<#else>
			                    <a href="#" data-url="index.html" class="menu-item">
			                        <i class="metismenu-icon ${p.icon!}"></i>
			                        ${p.name}
			                    </a>
				        	</#if>
							<@permission parentCode=p.code top=false />
				        </li>
				    </ul>
		        </#if>
		    </#list>
		</@sysPermissionList>
	</#macro>
	<@permission parentCode='' top=true />
</div>