<!doctype html>
<html lang="en">
    <head>
		<meta charset="utf-8">
        <meta name="description" content="LegoCMS">
        <#include "../include_page/link.html"/>
		<script type="text/javascript" src="${res}/assets/js/cms/sys-permission.js"></script>
    </head>
    <body>
       	<div class="row">
			<div class="col-md-3">
				<div class="main-card card">
					<div class="card-body">
						<ul id="permissionTree" class="ztree"></ul>
					</div>
				</div>
			</div>
       		<div class="col-md-9">
				<div class="main-card card">
					<div class="card-body">
		       			<form id="save-permission-form" action="${ctx}/admin/permission/save" onsubmit="return false;" class="needs-validation" novalidate>
							<div class="position-relative row form-group">
								<label class="col-sm-2 col-form-label"><@t.page 'list.code'/></label>
								<div class="col-sm-10">
									<input name="code" type="text" class="form-control" required>
									<div class="invalid-feedback">
                                        Please provide a valid Code
                                    </div>
								</div>
							</div>
							<div class="position-relative row form-group">
								<label class="col-sm-2 col-form-label"><@t.page 'list.name'/></label>
								<#list langTypes as langType>
					                <div class="col-md-4">
										<div class="input-group">
											<input name="lang[${langType_index}].code" class="form-control" readonly data-noreset>
				                            <div class="input-group-append">
												<input name="lang[${langType_index}].name" type="text" required>
				                            </div>
											<div class="invalid-feedback">
		                                        Please provide a valid name
		                                    </div>
	                                    </div>
					                </div>
								</#list>
							</div>
							<div class="position-relative row form-group">
								<label class="col-sm-2 col-form-label"><@t.page 'list.url'/></label>
								<div class="col-sm-10">
									<input name="url" type="text" class="form-control">
								</div>
							</div>
							<div class="position-relative row form-group">
								<label class="col-sm-2 col-form-label"><@t.page 'list.menu'/></label>
								<div class="col-sm-10">
									<select name="menu" class="form-control custom-select" required>
										<option value="true"><@t.page 'select.ture'/></option>
										<option value="false"><@t.page 'select.false'/></option>
									</select>
									<div class="invalid-feedback">
                                        Please provide a valid menu
                                    </div>
								</div>
							</div>
							<div class="position-relative row form-group">
								<label class="col-sm-2 col-form-label"><@t.page 'list.sort'/></label>
								<div class="col-sm-10">
									<input name="sort" type="text" class="form-control" required>
									<div class="invalid-feedback">
                                        Please provide a valid sort
                                    </div>
								</div>
							</div>
							<div class="position-relative row form-group">
								<label class="col-sm-2 col-form-label"><@t.page 'list.icon'/></label>
								<div class="col-sm-10">
									<div class="input-group">
			                            <div style="text-align: center;border: #e9ecef solid 1px;border-radius: .25rem;padding: 0px 10px;font-size: 1.5rem;">
											<i id="icon-view" class="pe-7s-bandaid"></i>
										</div>
										<input type="text" name="icon" class="form-control" readonly>
			                            <div class="input-group-append">
			                                <span class="btn btn-secondary" id="chose-icon"><@t.page 'btn.chose-icon'/></span>
			                            </div>
									</div>
								</div>
							</div>
							<input name="parent.code" type="hidden" data-noreset>
							<div class="position-relative row form-group">
								<label class="col-sm-2 col-form-label"><@t.page 'list.create-time'/></label>
								<div class="col-sm-10">
									<input name="createTime" placeholder="Create Date" class="form-control" readonly>
								</div>
							</div>
							<div class="position-relative row form-check">
								<div class="col-sm-10 offset-sm-2">
									<button class="btn btn-info" type="submit"><@t.page 'btn.save'/></button>
									<span class="btn btn-secondary" id="add"><@t.page 'btn.add'/></span>
									<span class="btn btn-danger" id="delete"><@t.page 'btn.delete'/></span>
								</div>
							</div>
						</form>
					</div>
				</div>
       		</div>
       	</div>
    	<#include "icon-modal.html"/>
    </body>
</html>
